<form method="post" action="{{ path('sub_fee_delete', {'id': sub_fee.id}) }}" onsubmit="return confirm('¿Está seguro de querer borrar la cuota?');" class="pull-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_fee.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
