<footer class="page_footer ds color section_padding_top_100 section_padding_bottom_65 table_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget widget_text">
                    {% trans %}footer.izquierda{% endtrans %}
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget_text topmargin_80">
                    {% trans %}footer.centro_izquierda{% endtrans %}
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget_twitter topmargin_80">
                    {% trans %}footer.centro_derecha{% endtrans %}
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center text-sm-left">
                {% trans %}footer.derecha{% endtrans %}
            </div>
        </div>
    </div>
</footer>
<section class="ds color darker page_copyright section_padding_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="fontsize_12">&copy; Copyright 2020 - diseño: Laura Nozar</p>
            </div>
        </div>
    </div>
</section>