{% extends 'base.html.twig' %}

{% block body %}
    <section class="page_breadcrumbs cs section_padding_top_50 section_padding_bottom_50 socios_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>{% trans %}socios.titulo{% endtrans %}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section_header">{% trans %}socios.titulo{% endtrans %}</h2>
                    {% trans %}socios.texto{% endtrans %}
                    <section class="ls section_padding_top_40 section_padding_bottom_65">
                        <div class="container">
                            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                                <div class="isotope-item col-md-4 col-sm-6">
                                    <article class="vertical-item content-padding with_border rounded text-center">
                                        <div class="item-content">
                                            <h4> <a href="socios-beneficios.php">BENEFICIOS</a> </h4>
                                            <p class="topmargin_20"> <a href="{{ path('site_socios_beneficios') }}" class="theme_button color2 inverse min_width_button">ver más</a> </p>
                                        </div>
                                    </article>
                                </div>
                                <div class="isotope-item col-md-4 col-sm-6">
                                    <article class="vertical-item content-padding with_border rounded text-center">
                                        <div class="item-content">
                                            <h4> <a href="{{ path('site_socios_inscripcion') }}">INSCRIPCIÓN</a> </h4>
                                            <p class="topmargin_20"> <a href="{{ path('site_socios_inscripcion') }}" class="theme_button color2 inverse min_width_button">ver más</a> </p>
                                        </div>
                                    </article>
                                </div>
                                <div class="isotope-item col-md-4 col-sm-6">
                                    <article class="vertical-item content-padding with_border rounded text-center">
                                        <div class="item-content">
                                            <h4> <a href="socios-cuotas.php">PAGOS DE CUOTAS</a> </h4>
                                            <p class="topmargin_20"> <a href="{{ path('site_socios_cuotas') }}" class="theme_button color2 inverse min_width_button">ver más</a> </p>
                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
{% endblock %}