{% extends 'base.html.twig' %}

{% block body %}
    <section class="intro_section page_mainslider ds color">
        <div class="flexslider" data-dots="true" data-nav="false">
            <ul class="slides">
                <li> <img src="{{ asset('images/slide01.jpg') }}" alt=""></li>
                <li> <img src="{{ asset('images/slide02.jpg') }}" alt=""></li>
                <li> <img src="{{ asset('images/slide03.jpg') }}" alt=""></li>
            </ul>
        </div>
        <!-- eof flexslider -->
    </section>
    <section id="about" class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section_header">¿Qué es la SUB?</h2>
                    <p>La Sociedad Uruguaya de Biociencias es una asociación civil sin fines de lucro, con personería jurídica, y que tiene su sede en Montevideo, Uruguay.</p>
                </div>
            </div>
            <div class="row columns_margin_bottom_20">
                <div class="col-md-4 col-sm-6">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-user"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="autoridades.php">Autoridades</a></h4>
                        <p class="content-3lines-ellipsis">Autoridades electas, período 2017-2019</p>
                        <p class="topmargin_30 bottommargin_0"> <a href="autoridades.php" class="theme_button color2 inverse min_width_button">ver autoridades</a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-cubes"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="seccionales.php">Seccionales</a></h4>
                        <p class="content-3lines-ellipsis">Las seccionales de la SUB están integradas por grupos de socios nucleados en torno a un área particular dentro de las Biociencias, o que se encuentran en determinada región del país. </p>
                        <p class="topmargin_30 bottommargin_0"> <a href="seccionales.php" class="theme_button color2 inverse min_width_button">ver seccionales</a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-graduation-cap"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="becas.php">Becas</a></h4>
                        <p class="content-3lines-ellipsis">Consetetur sadipscing elitr sediam nonumy eirmod tempor invidunt labore magna.</p>
                        <p class="topmargin_30 bottommargin_0"> <a href="becas.php" class="theme_button color2 inverse min_width_button">ver becas</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row display_table_md">
                <div class="col-md-6 col-md-push-6 display_table_cell_md"> <img src="images/eventos/01.jpg" alt="" class="rounded"> </div>
                <div class="col-md-6 col-md-pull-6 display_table_cell_md">
                    <h2 class="section_header">Jornadas</h2>
                    <p>Entre las actividades que realiza la SUB, se encuentra la organización bianual de jornadas donde participan sociedades científicas especializadas, investigadores, docentes, estudiantes de grado y posgrado, así como personas y sociedades civiles vinculadas con el desarrollo de la ciencia en el país. Al presente más de 500 socios contribuyen activamente en las jornadas, presentando ponencias y posters sobre la actividad científica nacional.</p>
                    <p class="topmargin_30"> <a href="eventos.php" class="theme_button color2 inverse">ver más</a> </p>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section_header text-center">Noticias</h2>
                    <div class="owl-carousel text-nav" data-nav="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-group" id="posts-accordion1">
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion1" href="#blog-collapse1">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>01</span> <span>04/19</span> </div>
                                            <h4 class="hover-color2"> <a href="http://www.biociencias2019.uy/" target="blank">II congreso Nacional de Biociencias 2019</a> </h4>
                                            <div class="content-justify greylinks fontsize_12"> <a href="#">5 al 7 de setiembre de 2019</a></div>
                                        </div>
                                        <div id="blog-collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body"> Al igual que en el Congreso 2017 participarán todas las seccionales que conforman la SUB, las Sociedades Científicas colegas que se unieron en el gran esfuerzo de dicho congreso, más otras que esperamos invitar en forma activa</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion1" href="#blog-collapse2" class="collapsed">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>16</span> <span>03/19</span> </div>
                                            <h4 class="hover-color2"> <a href="becas.php">Pasantía de Investigación</a> </h4>
                                            <div class="content-justify greylinks fontsize_12"> <a href="#">Oportunidad de financiación</a></div>
                                        </div>
                                        <div id="blog-collapse2" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion1" href="#blog-collapse3" class="collapsed">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>11</span> <span>03/19</span> </div>
                                            <h4 class="hover-color2"> <a href="noticias.php">1a. Circular - II Congreso Nacional de Biociencias</a> </h4>
                                            <!--<div class="content-justify greylinks fontsize_12"> <a href="#">Adjuntamos comunicación relativa al II Congreso Nacional de Biociencias 2019</a>
                                            </div>-->
                                        </div>
                                        <div id="blog-collapse3" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="vertical-item content-absolute content-padding">
                                    <div class="item-media rounded overflow_hidden ds black"> <img src="images/noticias/home_post1.jpg" alt="">
                                        <div class="date entry-meta-corner main_bg_color"> <span>01</span> <span>04/19</span> </div>
                                    </div>
                                    <div class="item-content ds">
                                        <h4 class="entry-title highlight hover-color2 bottommargin_0"> <a href="blog-single-right.html">II congreso Nacional de Biociencias 2019</a> </h4>
                                        <div class="content-justify darklinks fontsize_12 regular"> <a href="#">5 al 7 de setiembre de 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-group" id="posts-accordion2">
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion2" href="#blog-collapse4">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>09</span> <span>10/17</span> </div>
                                            <h4 class="hover-color2"> <a href="blog-single-right.html">At vero eos et accusam justo duo</a> </h4>
                                            <div class="content-justify greylinks fontsize_12"> <a href="#">by Sam C. Hood</a>
                                            </div>
                                        </div>
                                        <div id="blog-collapse4" class="panel-collapse collapse in">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion2" href="#blog-collapse5" class="collapsed">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>07</span> <span>10/17</span> </div>
                                            <h4 class="hover-color2"> <a href="blog-single-right.html">Dolores et ea rebum clita kasd</a> </h4>
                                            <div class="content-justify greylinks fontsize_12"> <a href="#">by Sandra C. Vasquez</a>
                                            </div>
                                        </div>
                                        <div id="blog-collapse5" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-blog-post">
                                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#posts-accordion2" href="#blog-collapse6" class="collapsed">
                                            </a>
                                            <div class="date entry-meta-corner"> <span>04</span> <span>10/17</span> </div>
                                            <h4 class="hover-color2"> <a href="blog-single-right.html">Gubergren no sea takimata sanctus</a> </h4>
                                            <div class="content-justify greylinks fontsize_12"> <a href="#">by Paul K. Reynolds</a>
                                            </div>
                                        </div>
                                        <div id="blog-collapse6" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="vertical-item content-absolute content-padding">
                                    <div class="item-media rounded overflow_hidden ds black"> <img src="images/blog_post1.jpg" alt="">
                                        <div class="date entry-meta-corner main_bg_color"> <span>04</span> <span>10/17</span> </div>
                                    </div>
                                    <div class="item-content ds">
                                        <h4 class="entry-title highlight hover-color2 bottommargin_0"> <a href="blog-single-right.html">Lorem ipsum dolor amet, consetetur sadipscing</a> </h4>
                                        <div class="content-justify darklinks fontsize_12 regular"> <a href="#">by Margarita R. Miller</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
