{% extends 'base.html.twig' %}

{% block body %}
    <section class="page_breadcrumbs cs section_padding_top_50 section_padding_bottom_50 sub_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>{% trans %}quienessomos.titulo{% endtrans %}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section_header">{% trans %}quienessomos.titulo{% endtrans %}</h2>
                    {% trans %}quienessomos.texto{% endtrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}