{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block title %}Editarns Seccional de inscripcciones{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-color">
                <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Editar Seccional de inscripción</header>
                <div class="panel-body">
                    {{ include('sub_inscription_sections/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('sub_inscription_sections_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
                <i class="fa fa-arrow-left"></i>Volver al listado
            </a>
            <div class="pull-right">
                {{ include('sub_inscription_sections/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
