{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/js/index.js') }}"></script>
{% endblock %}


{% block body %}
<!-- content wrapper -->
<div class="content-wrap">
  <div class="row">
  	<span>Bienvendio al administrador de contenido del sitio</span>
  </div>
</div>

{% endblock %}
