{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <section class="panel panel-color">
                <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Editar Usuario</header>
                <div class="panel-body">
                    {{ include('user/_form.html.twig') }}
                </div>
            </section>
        </div>
        <div class="col-lg-8">
            <a href="{{ path('admin_user_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
                <i class="fa fa-arrow-left"></i>Volver al listado
            </a>
        </div>
    </div>
{% endblock %}
